<div class="container">

<center>
<h3> Please <a href="/users/new">Sign Up</a> or <a href="/users/login">Login</a> </h3>
<center> 
   
<div class="container">
  <h2> Welcome to The Fridge!</h2>

  <img  src="../images/fridge.png" height="250">

</div>



</div>